In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Load the data
df_combined_with_customers = pd.read_pickle(r'C:\Users\sudee\OneDrive\Documents\Python Scripts\Instacart Basket Analysis\02 Data\Prepared Data\combined_with_customers.pkl')

# Verify the first few rows
df_combined_with_customers.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,prices,...,spending_flag,order_frequency_flag,surname,Gender,STATE,age,date_joined,n_dependants,fam_status,income
0,2539329,1,1,2,8,11.114836,196,1,0,9.0,...,Low spender,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2539329,1,1,2,8,11.114836,14084,2,0,12.5,...,Low spender,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,2539329,1,1,2,8,11.114836,12427,3,0,4.4,...,Low spender,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2539329,1,1,2,8,11.114836,26088,4,0,4.7,...,Low spender,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,2539329,1,1,2,8,11.114836,26405,5,0,1.0,...,Low spender,Regular customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [5]:
# Define the regions based on the information from Wikipedia
region_mapping = {
    'Northeast': ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey'],
    'Midwest': ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri'],
    'South': ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana'],
    'West': ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']
}

# Create a reverse mapping for easier assignment
state_to_region = {state: region for region, states in region_mapping.items() for state in states}

# Map the state column to the corresponding region
df_combined_with_customers['Region'] = df_combined_with_customers['STATE'].map(state_to_region)

# Verify the new column
df_combined_with_customers[['STATE', 'Region']].head()

     STATE Region
0  Alabama  South
1  Alabama  South
2  Alabama  South
3  Alabama  South
4  Alabama  South

In [7]:
# Assuming 'first_name' and 'surname' are PII, remove them
df_combined_with_customers.drop(columns=['surname'], inplace=True)

# Verify the columns
df_combined_with_customers.columns

Index(['order_id', 'user_id', 'order_number', 'order_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'prices', 'price_label',
       'busiest_day', 'busiest_period_of_day', 'department_id',
       'reorder_frequency', 'spending_flag', 'order_frequency_flag', 'Gender',
       'STATE', 'age', 'date_joined', 'n_dependants', 'fam_status', 'income',
       'Region'],
      dtype='object')

In [9]:
# Define the regions
region_mapping = {
    'Northeast': ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey'],
    'Midwest': ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri'],
    'South': ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana'],
    'West': ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']
}

def assign_region(state):
    for region, states in region_mapping.items():
        if state in states:
            return region
    return 'Other'

df_combined_with_customers['Region'] = df_combined_with_customers['STATE'].apply(assign_region)

# Verify the new column
df_combined_with_customers['Region'].value_counts()

Region
South        10802354
West          8300889
Midwest       7604326
Northeast     5728630
Name: count, dtype: int64

In [13]:
# Create the crosstab
region_spending_crosstab = pd.crosstab(df_combined_with_customers['Region'], df_combined_with_customers['spending_flag'], normalize='index')

# Display the result
print(region_spending_crosstab)

spending_flag  High spender  Low spender
Region
Midwest            0.020527     0.979473
Northeast          0.018914     0.981086
South              0.019463     0.980537
West               0.019374     0.980626

In [11]:
df_high_activity.to_pickle('final_dataset.pkl')

(24438272, 26)

In [15]:
# Check count of 'user_id' with exclusion
df_high_activity.nunique()

order_id                  2414024
user_id                    162633
order_number                   95
order_day_of_week               7
order_hour_of_day              24
days_since_prior_order         31
product_id                  49418
add_to_cart_order             137
reordered                       2
prices                        242
price_label                     3
busiest_day                     3
busiest_period_of_day           3
department_id                  21
reorder_frequency           16032
spending_flag                   2
order_frequency_flag            3
Gender                          2
STATE                          51
age                            64
date_joined                  1187
n_dependants                    4
fam_status                      4
income                      96070
Region                          4
exclusion_flag                  1
dtype: int64

In [25]:
# Export the df_high_activity DataFrame to a pickle file in a specific directory
df_high_activity.to_pickle(r'C:\Users\sudee\OneDrive\Documents\Python Scripts\Instacart Basket Analysis\02 Data\Prepared Data\final_dataset.pkl')

# Confirm that the file has been saved
print("The dataset has been successfully saved as 'final_dataset.pkl' in the specified directory.")

The dataset has been successfully saved as 'final_dataset.pkl' in the specified directory.