In [4]:
# Import necessary libraries
import pandas as pd
import numpy as np
import os

# Define path and load data
path = r'C:\Users\sudee\OneDrive\Documents\Python Scripts\Instacart Basket Analysis'
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'))
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'))
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'))

In [6]:
# Drop the 'eval_set' column from the orders dataframe
df_ords = df_ords.drop(columns=['eval_set'])

In [30]:
df_ords['order_id'] = df_ords['order_id'].astype(str)

In [32]:
# Rename 'order_dow' to 'order_day_of_week' for clarity
df_ords.rename(columns={'order_dow': 'order_day_of_week'}, inplace=True)

In [60]:
# 7. Create the data dictionary for departments
df_dep_t = df_dep.T
new_header = df_dep_t.iloc[0]
df_dep_t_new = df_dep_t[1:]
df_dep_t_new.columns = new_header
data_dict = df_dep_t_new.to_dict('index')

In [78]:
# Identify department name for department_id 14
breakfast_dept = data_dict['14']
print(f"Department 14 corresponds to: {breakfast_dept}")

Department 14 corresponds to: {'department': 'breakfast'}

In [80]:
# Create a subset for breakfast items
df_breakfast = df_prods[df_prods['department_id'] == 14]
print(df_breakfast.head())

     product_id                                      product_name  aisle_id  \
27           28                                 Wheat Chex Cereal       121
33           34                                           Unknown       121
67           68                           Pancake Mix, Buttermilk       130
89           90                                      Smorz Cereal       121
210         211  Gluten Free Organic Cereal Coconut Maple Vanilla       130

     department_id  prices
27              14    10.1
33              14    12.2
67              14    13.7
89              14     3.9
210             14     3.6

In [82]:
# 10. Create a subset for specific departments
departments_of_interest = [5, 20, 7, 12]  # alcohol, deli, beverages, meat/seafood
df_dinner_party = df_prods[df_prods['department_id'].isin(departments_of_interest)]
df_dinner_party.head()

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1

In [64]:
# 11. Count the total number of rows in the last dataframe
print(f"Total rows in df_dinner_party: {df_dinner_party.shape[0]}")

Total rows in df_dinner_party: 7650

In [66]:
# 12. Extract information for `user_id` 1
df_user_1 = df_ords[df_ords['user_id'] == 1]
print(df_user_1)

   order_id  user_id  order_number  order_day_of_week  order_hour_of_day  \
0   2539329        1             1                  2                  8
1   2398795        1             2                  3                  7
2    473747        1             3                  3                 12
3   2254736        1             4                  4                  7
4    431534        1             5                  4                 15
5   3367565        1             6                  2                  7
6    550135        1             7                  1                  9
7   3108588        1             8                  1                 14
8   2295261        1             9                  1                 16
9   2550362        1            10                  4                  8
10  1187899        1            11                  4                  8

    days_since_prior_order
0                11.114836
1                15.000000
2                21.000000
3                29.000000
4                28.000000
5                19.000000
6                20.000000
7                14.000000
8                 0.000000
9                30.000000
10               14.000000

In [68]:
# 13. Provide basic stats about the user's behavior
print(df_user_1.describe())

       user_id  order_number  order_day_of_week  order_hour_of_day  \
count     11.0     11.000000          11.000000          11.000000
mean       1.0      6.000000           2.636364          10.090909
std        0.0      3.316625           1.286291           3.477198
min        1.0      1.000000           1.000000           7.000000
25%        1.0      3.500000           1.500000           7.500000
50%        1.0      6.000000           3.000000           8.000000
75%        1.0      8.500000           4.000000          13.000000
max        1.0     11.000000           4.000000          16.000000

       days_since_prior_order
count               11.000000
mean                18.283167
std                  8.891139
min                  0.000000
25%                 14.000000
50%                 19.000000
75%                 24.500000
max                 30.000000

In [70]:
# 14. Export the `df_ords` dataframe
df_ords.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index=False)

In [72]:
# 15. Export the `df_dep_t_new` dataframe
df_dep_t_new.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'), index=False)